body{
    background-color: #F3F3F3;
}

.card{
    width: 310px;
    height: 414px;
    border: 2px solid rgb(230, 225, 225);
    border-radius: 10px;
    background-color: #FFF;
}

.price{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.select-btn{
    background-color: #2F80ED;
    width: 280px;
}

.description{
    padding: 4px;
}
.home-container{
    display: flex;
}
.card-container{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 8px;
}
.remaining{
    color: #2F80ED;
}